body {
    margin: 0px;
    background-color: #649666;
    font-family: 'Roboto', sans-serif;
    line-height: normal;
}

.navigation {
    color: white;
    z-index: 1;
    position: fixed;
}

.navigation>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#333;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 43px;
    box-shadow: black 0px 0px 10px 1px;
}

.navigation>ul li {
  display: inline-block;
}


.links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#333;
    width: 105%;
    display: inline-block;
}

.links>li a{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: white;
}

.links>li {
    float: left;
}

.links>li a:hover {
    background-color: #595959;
}

.links>li a.active {
    background-color: #4CAF50;
}

.header {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -20px;
    font-size: 20px;
}

.login-button>a {
    position: relative;
    float: right;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: -47px;
}

.login-button>a:hover {
    opacity: 0.8;
}

.tools {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    background-color:#333;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px gray, 0em 0 .6em black;
    height: 15px;
}

.main-window {
    width: 70%;
    margin: auto;
    background-color: white;
    border: 1px solid #333;
    height: auto;
    padding-top: 40px;
    padding-bottom: 50px;
}

.main-window>p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.main-window>h5 {
    margin-bottom: -15px;
    margin-left: 10px;
}

.main-window>h3 {
    margin-left: 10px;
}

.login {
    padding-top: 50px;
    margin-left: 100px;
    font-size: 20px;
}

.login-button {
    font-size: 15px;
    float: right;
    position: relative;
}

#container {
  margin-top: 40px;
}

.col-sm {
  z-index: 0;
  position: relative;
  border: 1px solid #333;
  text-align: center;
  padding: 150px;
  height: 300px;
  margin: 30px;
}

#search-bar {
  margin-top: 40px;
  width: 50%;
  margin-left: 50px;
  border: #000 solid 1px;
}
                
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}
