body {
    margin: 0px;
    background-color: #C0D890;
    font-family: 'Roboto', sans-serif;
}

.navigation {
    color: white;
}
.navigation>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#333;
    position: fixed;
    top: 0px;
    width: 100%;
}

.links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:#333;
    width: 105%;
    display: inline-block;
    box-shadow: #333 0px 5px 10px;
}

.links>li a{
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    color: white;
}

.links>li {
    float: left;
}

.links>li a:hover {
    background-color: #595959;
}

.links>li a.active {
    background-color: #597128;
}

.header {
    text-align: center;
    margin-top: -10px;
    margin-bottom: -20px;
    font-size: 20px;
}

.login-button>a {
    position: relative;
    float: right;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: -47px;
}

.login-button>a:hover {
    background-color: #595959;
}

.tools {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    background-color:#333;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px 0px gray, 0em 0 .6em black;
    height: 15px;
}

.main-window {
    width: 70%;
    margin: auto;
    background-color: white;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    height: 900px;
    padding-top: 40px;
    padding-bottom: 50px;
}


.main-window>p {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.main-window>h5 {
    margin-bottom: -15px;
    margin-left: 10px;
}

.main-window>h3 {
    margin-left: 10px;
}

.login-window {
    width: 50%;
    margin: auto;
    background-color: #b3b3b3;
    height: 105%;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    box-shadow: 0px 0px 10px #000000;
}

.login {
    padding-top: 50px;
    margin-left: 100px;
    font-size: 20px;
    
}

.login>input {
    width: 50%;
    margin: auto;
    font-size: 15px;
    border: black solid 1px;
}

.login>button {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 150px;
}